@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
    background-color: #eeeef2;
}

/*table, th, td {*/

font-family: 'Nunito', sans-serif;
margin:auto;
text-align: center;
color: #444444;
background-color: white;



/*}*/


p {
    font-color:#444444;
    /*font-size: larger;*/
    /*font-style: italic;*/
    /*padding-top:1rem;*/
    font-family: 'Nunito', sans-serif;
    margin:auto;
    text-align: center;

}


.rwd-table{

    margin-top: 1rem;

}
.LB {
    overflow-x:auto;
}

th {
}

h1 {
    font-size: larger;
    font-family: 'Nunito', sans-serif;
    padding: 10px 0px 10px 0px;
    text-align: center;
    /*color:#b1bdcc;*/
    color:white;
    background-color: #2b2b2b;
    /*background-color: #33d87a;*/
}

/*table {*/
/*border-collapse: collapse;*/

/*border: solid 0.1rem #33d87a;*/
/*border-radius: 25px;*/

/*}*/

.col1{
    text-align: left;
    padding: 0.75rem;

}

.col2{
    text-align: center;
    padding: 0.75rem;

}
.col3{
    text-align: center;
    padding: 0.75rem;

}

/*th {*/
/*padding: 1rem;*/
/*background-color: #1ed760;*/
/*}*/

/*td {*/

/*}*/

table {
    border-collapse:separate;
    border: solid 0.1rem #33d87a;
    border-radius:10px;
    -moz-border-radius:10px;
    font-family: 'Nunito', sans-serif;
    margin:auto;
    text-align: center;
    background-color: white;
}

td, th {
    border-left:solid #ccc 1px;
    border-top:solid #ccc 1px;
}

th {
    /*background-color: #1ed760;*/
    border-top: none;
    padding: 1rem;
    text-align: center;

}

td:first-child, th:first-child {
    border-left: none;
}