/* @import url('https://fonts.googleapis.com/css?family=Roboto');
*/

.answer {
  text-align: left;
  font-weight:light ;
  padding: 1rem;
  width: 90%;
  max-width: 90%;
  margin-top: 10px;
  cursor: pointer;
  min-width: inherit;
  line-height: 1.8;

  border: 1px solid #b1bdcc;
  border-radius: 4px;

}


/*.next {
  background-color: blue;
  border-radius: 15px;
}*/
