@import url('https://fonts.googleapis.com/css?family=Anton');

.textbox {
  display: inline-block;
  border-radius: 25px;
  overflow-wrap: break-word;
  font-family: 'Arial', sans-serif;
  max-height: 20vh;
  padding: 0.2rem;
  text-align: center;
}