
.profile-container{

    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    align-items: center;
    line-height: 1.5px;
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0.25em;
}

h4{
    font-size: 1.5rem;
}

.profilefield:last-of-type {
    margin-bottom: 3rem;
}

.profilebox {

    font-family: 'Nunito', sans-serif;
    overflow-wrap: break-word;
    padding: 1rem 5rem 1rem 5rem;
    border: solid 0.1rem #33d87a;
    width:auto;
    height:auto;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
input[type=text]:focus{
    background-color: #fff494;
}

input[type=password]:focus{
    background-color: #fff494;
}
.cancel-button{
    background-color: #ff3333;
}

button{
    color: white;
    background-color: #1ed760;
    padding: 5% 5%;
    min-width: 10%;
    border-radius: 4px;
    border: none;
    font-size: larger;
    margin: 2%;
}

.profilefield{
    margin-top: 5%;
}

.profilefield:first-of-type {
    margin-top:10%
}
