/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/

.question {
  text-align: left;
  padding: 1.5rem;
  line-height: 2;
}

.scoreboard-container {
  min-width: 260px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
  /*border: white 1px solid;*/
  background-color: #2b2b2b;

}
