/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/

.question {
  text-align: center;
  padding: 0.5rem;
  border: solid 2px;
  border-radius: 15px;
}

.description-container {
  padding: 10px;
  min-width: 260px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
