@import url('https://fonts.googleapis.com/css?family=Nunito');

.timer {
font-family: 'Nunito', sans-serif;
  /*font-size: larger;*/

  color: white;
  display: table;
  /*margin:auto;*/
  padding: 10px;
  line-height: 1;
  cursor: pointer;
}
