.timer {
  font-size: 2em;
  font-weight: bold;
  color: #433d3d;
  border: black 1px solid;
  border-radius: 15px;
  display: table;
  margin: 10px auto;
  padding: 10px;
  line-height: 1;
  cursor: pointer;
}
